.detail {
    margin: -8px;
    padding: 0;
    background-color: aliceblue;
    height: 100vh;
}

.gradient {
    background: rgb(224,212,230);
    background: linear-gradient(141deg, rgba(224,212,230,1) 0%, rgba(214,136,223,1) 47%, rgb(21, 106, 210) 100%);
    height: 8rem;
    margin: 0;
    padding: 0;

}

.card {
    width: 1280px;
    margin: -2rem auto;
}